body{
    background:url(https://lh3.googleusercontent.com/proxy/VltZ9ewvLd4T7SjnkvzNr2GH69lOYHvp5vhMZO9cxB1OfhDxzfHI2yIEvKD-c4SDGUAjsBTJUWdH6CNf5OgMfS-cmeiv0ly-x89ZsIE9E-h8yg-iEkZW48mRv3b4fFn9fPkWoilk) no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size:cover;
    

}